@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    --primary-color: rgba(255, 255, 255, 0.817);
    --text-color: rgb(16, 16, 16);
    --border-color: rgb(10, 10, 10);
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(149, 149, 149);
    backdrop-filter: blur(3px);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform .15s linear,
        width .3s,
        height .3s,
        background .3s,
        border .3s;
    /* z-index: 9990; */
    text-align: center;
    line-height: 24px;
}

/* body:has() */

html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    overflow-x: hidden;
    color: var(--text-color);
    scroll-behavior: smooth;
}

img {
    height: 100%;
    width: 100%;
}

ul,
li a {
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;

}