@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    --primary-color: rgba(255, 255, 255, 0.817);
    --text-color: rgb(16, 16, 16);
    --border-color: rgb(10, 10, 10);
    --progrees: #000;
    --border: 2px solid #020202;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: var(--border);
    /* background: rgb(200, 200, 200); */
    border-radius: 50%;
    /* backdrop-filter: blur(6px); */
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform .15s linear,
        width .3s,
        height .3s,
        background .3s,
        border .3s;
    z-index: 9990;
    text-align: center;
    line-height: 30px;
}

#progrees{
    position: fixed;
    top: 0;
    right: 0;
    height: 2px;
    width: 100vw;
    background: var(--progrees);
    z-index: 9999;
    transform-origin: 0 50%;
    animation: progress 2s linear;
    animation-timeline: scroll(Y);
}
@keyframes progress {
    from{
        transform: scaleX(0);
    }to{
        transform: scaleX(1);
    }
}

.liner-color{
    position: fixed;
    left: 30px;
    width: 100vw;
    height: 3px;
    color: red;
}

/* body:has() */

html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    overflow-x: hidden;
    color: var(--text-color);
    scroll-behavior: smooth;
}

img {
    height: 100%;
    width: 100%;
}

ul,
li a {
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;

}

/* ------------------------- */

/* Header Start */
header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: -11px;
}

.main {
    padding: 11px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    /* Semi-transparent */
    backdrop-filter: blur(7px);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    margin-top: 20px;

    animation: header 0.6s ease forwards;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
    position: relative;
}

.header-nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.header-nav ul li a:hover {
    color: rgb(45, 44, 44);
}

.header-nav ul li a:hover::after {
    width: 100%;
}

button {
    background: #1a1a1b;
    border: none;
    border-radius: 30px;
    transition: .3s;
}

button a {
    display: block;
    padding: 12px 28px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    background: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.509);
}


/* animation top ber */
@keyframes header {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Header End */

/* Banner-section Start */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .container {
    width: 100%;
}

.hero-section h1 {
    text-align: center;
    font-size: clamp(80px, 14vw, 220px);
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Huge Background Text */

.bg-text {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 15vw;
    color: #000;
    z-index: 1;
    white-space: nowrap;

    animation: developer 0.8s ease forwards;
}

/* developer animation  */
@keyframes developer {
    0% {
        transform: translate(-50%, 120px);
        opacity: 0;
        filter: blur(10px);
    }

    60% {
        opacity: 0.5;
        filter: blur(5px);
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Person */

.image img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 85%;
    object-fit: contain;
    z-index: 2;
    animation: my-image 0.3s ease;
}

@keyframes my-image {
    0% {
        transform: translate(-50%, 120px);
        opacity: 0;
        filter: blur(10px);
    }

    60% {
        opacity: 0.5;
        filter: blur(5px);
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Left Card */

.left-box {
    position: absolute;
    left: 40px;
    bottom: 0px;
    width: 260px;
    background: white;
    padding: 25px;
    border: 1px solid var(--border-color);
    z-index: 3;
}

.left-box h4 {
    font-size: 12px;
    margin-bottom: 10px;
}

.left-box h2 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.left-box p {
    font-size: 14px;
}

/* Right Card */

.right-box {
    position: absolute;
    right: 33px;
    bottom: 0px;
    width: 240px;
    border: 1px solid var(--border-color);
    z-index: 3;
}

.item {
    background: white;
    padding: 22px;
}

.item.dark {
    background: #000;
    color: #fff;
    text-align: right;
}

.item h2 {
    font-size: 40px;
}

.item p {
    font-size: 13px;
    margin-top: 5px;
}


/* Banner Style End */


/* Hero Style Start */
.about-area {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scroll-bar {
    height: 100vh;
}

.wrapper-404 {
    display: flex;
    align-items: center;
    width: 400vw;
    height: 100vh;
    will-change: transform;
}

.web-text {
    width: 400vw;
    margin: 0;
    font-size: 40vw;
    line-height: 1;
    white-space: nowrap;
}

/* Hero sectionEnd */

/* welcome-page start */
.about-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 20px;
    background-image: url(./my-image/team.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.section {
    height: 200vh;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.about-content {
    max-width: 650px;
}

.subtitle {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.about-content h2 {
    font-size: clamp(40px, 7vw, 80px);
    line-height: 1;
    margin-bottom: 25px;
    color: #FFF;
}

.about-content p {
    max-width: 550px;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
    opacity: 0.7;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #fff;
    color: #111;
}

/* welcome-page End */

/* flex-section style */
.flex-section{
    /* background: #000; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.flex-row{
    display: flex;
    height: 400px;
    width: 308px;
    justify-content: space-between;
}

/* ------------------------------------- */


.neoh-section {
    position: relative;
    min-height: 100vh;
    padding:58px 7%;
    overflow: hidden;
    background: #ffffff;
}

.container-neoh {
  max-width: 1660px; 
  margin: 30px auto;

  display: grid;
  grid-template-columns: 55% 45%;
  /* grid-template-columns: repeat(2, 1fr); */
  /* display: flex; */
  align-items: center;
  gap: 70px 40px;
}
.container-neoh-bottom{
  max-width: 1660px; 
  margin: 13% auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 70px 40px;
}

/* =========================
   IMAGE
========================= */

.neoh-image-wrapper {
    width: 90%;
    max-width: 810px;
    position: relative;
    z-index: 2;
}

.neoh-image-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -6px;
    left: 5px;
    background: #000000;
    filter: blur(10px);
    border-radius: 19px;
    transform: rotate(11deg);
    z-index: -1;
}
.neoh-image-1{
    transform: rotate(11deg);

}
.neoh-image {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 18px;
  object-fit: cover;
}

/* =========================
   CONTENT
========================= */

.neoh-content {
  max-width: 650px;
}

.neoh-content h2 {
  font-size: clamp(38px, 3vw, 52px);
  font-weight: 400;
  line-height: 1.1;

  margin-bottom: 18px;
}

.title-line {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.title-line::before {
  content: "";
  width: 6px;
  height: 7px;
  background: #777;
  border-radius: 2px;
}

.title-line span {
  display: block;
  width: 180px;
  height: 3px;
  background: #777;
  margin-left: 7px;
}

.neoh-content p {
    font-size: 22px;
    line-height: 1.55;
    color: #101010;
    margin-bottom: 35px;
}

/* =========================
   BUTTONS
========================= */

.neoh-buttons {
  display: flex;
  gap: 28px;
  margin-top: 60px;
}

.neoh-btn {
    min-width: 230px;
    height: 66px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 2px solid #555;
    border-radius: 6px;
    color: #504a4a;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s ease;
}

.neoh-btn:hover {
  border-color: white;
  color: wheat;
  background: #1a1a1a;
  transform: translateY(-3px);
}

.btn-icon {
  width: 45px;
  font-size: 25px;
  text-align: center;
}

.divider {
  height: 38px;
  width: 2px;
  background: #555;
  margin: 0 20px;
}

/* =========================
   BACK TO TOP
========================= */

.back-top {
  position: absolute;

  right: 4%;
  bottom: 45px;

  width: 50px;
  height: 60px;

  color: #aaa;

  font-size: 55px;
  font-weight: 200;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.back-top:hover {
  color: white;
  transform: translateY(-5px);
}
.back-top::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 2px;
    background: #78ff00;
    top: -2px;
    right: 12px;
    transform: rotate(-16deg);
}

/* =========================
   TABLET
========================= */

@media (max-width: 1000px) {

  .neoh-section {
    padding: 50px 5%;
  }

  .neoh-container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .neoh-image-wrapper {
    max-width: 750px;
    margin: 0 auto;
  }

  .neoh-content {
    max-width: 750px;
    margin: 0 auto;
  }

}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

  .neoh-section {
    padding: 30px 20px 80px;
  }

  .neoh-image-wrapper::after {
    top: -12px;
    left: 15px;
  }

  .neoh-content h2 {
    font-size: 36px;
  }

  .title-line {
    margin-bottom: 30px;
  }

  .neoh-content p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  .neoh-buttons {
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
  }

  .neoh-btn {
    width: 100%;
    min-width: 0;
  }

  .back-top {
    display: none;
  }
}



/* ==================================================== */

.projects-section {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  color: #fff;
  padding: 120px 7%;
  overflow: hidden;
}

.projects-heading {
  text-align: center;
  margin-bottom: 100px;
}

.projects-heading p {
  color: #0f0e0e;
  letter-spacing: 5px;
  font-size: 14px;
  margin-bottom: 18px;
}

.projects-heading h2 {
    font-size: clamp(45px, 6vw, 85px);
    font-weight: 500;
    line-height: 1;
    color: black;
}

.projects-heading h2 span {
  color: #a3ff12;
}

.heading-line {
  width: 100px;
  height: 2px;
  background: #a3ff12;
  margin: 30px auto;
}


/* Projects */
.projects-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.project-card {
  position: relative;
  opacity: 0;
  transform: translateY(100px);
}


/* Number */
.project-number {
  position: absolute;
  left: -35px;
  top: 25px;
  font-size: 18px;
  color: #851b1b;
  z-index: 5;
}


/* Image */
.project-image {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 4px;
  background: #151515;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s cubic-bezier(.2,.8,.2,1);
}


/* Overlay */
.project-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, .55);

  opacity: 0;
  transition: .4s ease;
}

.project-overlay a {
  color: white;
  text-decoration: none;

  border: 1px solid white;
  padding: 16px 28px;

  font-size: 14px;
  letter-spacing: 2px;

  transform: translateY(30px);
  transition: .4s ease;
}

.project-card:hover .project-image img {
  transform: scale(1.08);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-card:hover .project-overlay a {
  transform: translateY(0);
}


/* Info */
.project-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 25px 5px;

  border-bottom: 1px solid #333;
}

.project-info h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
    color: black;
}

.project-info p {
  color: #777;
  font-size: 16px;
}


/* Technology */
.tech {
  display: flex;
  gap: 8px;
}

.tech span {
  border: 1px solid #444;
  border-radius: 50px;

  padding: 7px 15px;

  color: #999;
  font-size: 12px;

  transition: .3s;
}

.project-card:hover .tech span {
  border-color:var(--border-color);
  color: var(--text-color);
}


/* Responsive */
@media (max-width: 768px) {

  .projects-section {
    padding: 80px 20px;
  }

  .projects-heading {
    margin-bottom: 60px;
  }

  .projects-container {
    gap: 70px;
  }

  .project-image {
    height: 400px;
  }

  .project-number {
    left: 0;
    top: -30px;
  }

  .project-info {
    display: block;
  }

  .project-info h3 {
    font-size: 24px;
  }

  .tech {
    margin-top: 20px;
  }
}


/* ==================== ===============*/

.contact-section {
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
  padding: 130px 8%;
  overflow: hidden;
}

.contact-heading {
  text-align: center;
  margin-bottom: 100px;
}

.contact-heading p {
  color: #000000;
  font-size: 13px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.contact-heading h2 {
  font-size: clamp(45px, 7vw, 90px);
  font-weight: 400;
  line-height: 1;
  color: #000;
}

.contact-heading h2 span {
  color: #ff1212;
}


/* Wrapper */

.contact-wrapper {
  max-width: 1250px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}


/* Left */

.contact-left {
  padding-top: 30px;
}

.contact-left h3 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 25px;
    color: black;
}

.contact-left p {
  max-width: 500px;
  color: #010101;
  font-size: 19px;
  line-height: 1.7;
  margin-bottom: 45px;
}

.email-link {
  color: #e24125;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #0e0f0e;
  padding-bottom: 8px;
}


/* Form */

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #444;

  color: white;

  padding: 18px 5px;

  font-size: 17px;

  outline: none;

  transition: .3s;
}

.input-group textarea {
  resize: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #666;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #a3ff12;
}


/* Button */

.contact-form button {
  width: fit-content;

  margin-top: 15px;

  background: #e7e7e7;
  color: #000;

  border: none;

  padding: 18px 32px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: .35s;
}

.contact-form button span {
  margin-left: 15px;
  font-size: 18px;
}

.contact-form button:hover {
  background: rgb(37, 37, 37);
  transform: translateY(-5px);
  color: whitesmoke;
}


/* Responsive */

@media (max-width: 800px) {

  .contact-section {
    padding: 90px 25px;
  }

  .contact-heading {
    margin-bottom: 60px;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .contact-left h3 {
    font-size: 30px;
  }

  .contact-left p {
    font-size: 17px;
  }

}



/* ---------------------------------- */

.footer {
  position: relative;
  background: #080808;
  color: #fff;
  padding: 100px 7% 25px;
  overflow: hidden;
  border-top: 1px solid #292929;
}


/* Footer Top */

.footer-top {
  max-width: 1400px;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  gap: 80px;
}


/* Brand */

.footer-brand h2 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-brand h2 span {
    color: #f80101;
}

.footer-brand p {
  max-width: 350px;

  color: #777;

  font-size: 16px;
  line-height: 1.7;

  margin-top: 20px;
}


/* Headings */

.footer-links h3,
.footer-social h3 {
  color: #777;

  font-size: 12px;

  letter-spacing: 3px;

  margin-bottom: 25px;
}


/* Links */

.footer-links,
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links a,
.footer-social a {
  position: relative;

  color: #ddd;

  text-decoration: none;

  font-size: 17px;

  margin-bottom: 15px;

  transition: .3s;
}

.footer-links a::after, .footer-social a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background: #fafafa;
    transition: .3s;
}

.footer-links a:hover, .footer-social a:hover {
    color: #e10e0e;
}

.footer-links a:hover::after,
.footer-social a:hover::after {
  width: 100%;
}


/* Big Text */

.footer-big-text {
  max-width: 1400px;
  /* margin: 100px auto 50px; */

  overflow: hidden;

  border-bottom: 1px solid #292929;
}

.footer-big-text h1 {
  font-size: clamp(70px, 15vw, 219px);

  line-height: .8;

  font-weight: 700;

  letter-spacing: -13px;

  color: transparent;

  -webkit-text-stroke: 1px #444;

  white-space: nowrap;

  transition: .5s;
}

.footer-big-text h1:hover {
  color: #ef2c09;
  -webkit-text-stroke: 1px #ff1212;
}


/* Bottom */

.footer-bottom {
  max-width: 1400px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
}

.footer-bottom p {
  color: #555;
  font-size: 13px;
}

.back-top {
  color: #aaa;

  text-decoration: none;

  font-size: 12px;

  letter-spacing: 2px;

  transition: .3s;
}

.back-top:hover {
  color: #a3ff12;
}


/* Responsive */

@media (max-width: 800px) {

  .footer {
    padding: 70px 25px 20px;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;

    gap: 50px;
  }

  .footer-brand {
    grid-column: 1 / -1;
  }

  .footer-big-text {
    margin-top: 70px;
  }

  .footer-big-text h1 {
    font-size: 20vw;
    letter-spacing: -3px;
  }

  .footer-bottom {
    flex-direction: column;

    gap: 20px;

    align-items: flex-start;
  }
}


@media (max-width: 500px) {

  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-brand {
    grid-column: auto;
  }

  .footer-brand h2 {
    font-size: 38px;
  }

  .footer-big-text h1 {
    font-size: 23vw;
  }
}
/* flex-section style end */
/* Responsive */
@media(max-width:768px) {

    .container {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    button {
        width: 100%;
    }

    button a {
        text-align: center;
    }
}